.first-slide {
  padding-top: 100px;
  overflow: hidden;
  justify-content: space-around;
  display: flex;
}
.titre-slide1 {
  position: absolute;
  top: -5px;
  left: 60px;
  right: 100px;
  color: #024d81;
  padding-top: 30px;
}
.second-slide {
  padding-top: 100px;
  overflow: hidden;
  justify-content: space-around;
  display: flex;
}
.btn {
  margin-top: 150%;
  float: left;
  background: #024d81;
  border-radius: 9px;
}

.carousel-control-prev {
  width: 40%;
  position: absolute;
  top: 70%;
  transform: translate(-50px, -50px);
  display: flex;
  justify-content: end;
}
.carousel {
  position: static;
}

.carousel-control-next {
  width: 40%;

  position: absolute;
  top: 70%;
  transform: translate(-50px, -50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-control-next-icon {
  background-image: url("../../../public/assets/carouselnext.png");
}
.carousel-control-prev-icon {
  background-image: url("../../../public/assets/carouselprev.png");
}
