.img1{
    max-width: 20%;
    max-height: 20%;
    display: inline-block;
}
.img2{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}
.img3{
    display: inline-block;
   
}
.img4{
    display: inline-block;
}
.first-slide {
    padding-top: 100px;
    overflow: hidden;
    justify-content: space-around;
    display: flex;
}
.titre-slide1 {
    position: absolute;
    top: -5px ;
    left: 60px;
    right: 100px;
   color: #024D81;
   padding-top: 30px;
}
.second-slide {
    padding-top: 100px;
    overflow: hidden;
    justify-content: space-around;
    display: flex;
}
.btn{
    
    width: 110px;
    margin-top: -200px;
    
    float: right;
    background: #024D81;
    border-radius: 9px;

}